name: Test
on: [push, pull_request]
env:
  CARGO_TERM_COLOR: always
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: nightly-2023-08-14
          override: true
      - name: Lint
        run: cargo test --verbose
